<footer>
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <p><%= link_to 'OlyEvents', root_path %> is part of <a href="http://olylab.com">OlyLab</a>, a <a href="http://mosspublicpress.com">Moss Public Press</a> project.</p>
        <p><small>version 0.0.1 :: <a href="https://github.com/olylab/olyevents#roadmap" target="blank">read our roadmap for this project</a></small></p>
        <p style="margin-top: 20px;"><a href="https://github.com/olylab/olyevents/issues" target="blank">Submit issues you encounter at our issue tracker on github.com</a></p>
      </div>
    </div>
  </div>
</footer>