<footer>
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <p><%= link_to 'OlyEvents.org', root_path %> is part of OlyLab, a Moss Public Press project.</p>
      </div>
    </div>
  </div>
</footer>