<footer>
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <p><%= link_to 'OlyEvents', root_path %> is part of <a href="http://olylab.com">OlyLab</a>, a <a href="http://mosspublicpress">Moss Public Press</a project.</p>
        <p><small>version 0.0.1 :: <a href="#">read our roadmap for this project</a></small></p>
      </div>
    </div>
  </div>
</footer>