<header>
  <div class="container">
    <div class="row">
      <nav id="top-bar" class="sixteen columns">
        <a href="http://olylab.com" class="main-site"><strong>OlyLab</strong></a>
        <ul class="sites-nav">
          <li><a href="http://olynews.org">News</a></li>
          <li><a href="http://olywiki.org">Wiki</a></li>
          <li><a href="http://olyevents.org" class="active">Events</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="sixteen columns">
      <h1 class="title"><%= link_to 'olympia events', root_path %></h1>
    </div>
  </div>
</div>