<header>
  <div class="container">
    <div class="row">
      <nav id="top-bar" class="sixteen columns">
        <a href="http://olylab.com" class="main-site">OlyLab</a>
        <ul class="sites-nav">
          <li>OlyNews.org</li>
          <li>OlyWiki.org</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="sixteen columns">
      <h1><%= link_to 'olympia events', root_path %></h1>
    </div>
  </div>
</div>