<!DOCTYPE html>
<html>
<head>
  <title>Olyevents</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header class="row">
    <div class="sixteen columns">
      <h1><a href="/">olympia events</a></h1>
    </div>
  </header>
  <div class="main row">
    <div class="sixteen columns">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
